################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Conhecendo a linguagem e a STL/.vs
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/Jogo da Adivinhacao/FileContentIndex
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/Jogo da Adivinhacao/v17
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/VSWorkspaceState.json
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/slnx.sqlite
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/ProjectSettings.json
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/v17/Browse.VC.db
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/v17/.wsuo
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/read.lock
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/9d50ddb5-09bf-46d0-b1b1-2b2ae1343d5d.vsidx
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/8cd04f40-bb95-426e-96c1-3a99aad2a9f4.vsidx
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/4f028b2a-35ea-4fcd-8554-698006dd765c.vsidx
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/VSWorkspaceState.json
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/slnx.sqlite
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/ProjectSettings.json
/.gitignore
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/VSWorkspaceState.json
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/slnx.sqlite
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/ProjectSettings.json
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/v17/Browse.VC.db
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/v17/.wsuo
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/read.lock
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/9d50ddb5-09bf-46d0-b1b1-2b2ae1343d5d.vsidx
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/8cd04f40-bb95-426e-96c1-3a99aad2a9f4.vsidx
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/4f028b2a-35ea-4fcd-8554-698006dd765c.vsidx
Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/f97c29fc-33e1-41e9-835d-f27c755cb38b.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/verifica_chute.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/vc143.pdb
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/vc143.idb
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/salva_arquivo.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/resultado.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/palavra_escolhida.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/nao_acertou.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/le_arquivo.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/letra_existe.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/link.write.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/link.read.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/link.command.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/jogoforca.lastbuildstate
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/CL.write.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/CL.read.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/CL.command.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.log
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.ilk
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.exe.recipe
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/Jogodaforca.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/cont_erros.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/campo_secreto.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/adiciona_palavra.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/ipch/AutoPCH/aaa0777b3c270adc/JOGODAFORCA.ipch
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.opendb
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.db-wal
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.db-shm
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.db
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/.suo
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/read.lock
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/eb034eb5-567a-424b-a154-da2e767d4f84.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/90ec1368-809b-4e0a-9fe5-457693e62413.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/1c380e27-cb03-4a53-89d8-6b8d77675e6a.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/0220db0a-28f9-4088-95a7-ea8e08a0ff9e.vsidx
