################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Conhecendo a linguagem e a STL/.vs
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/Jogo da Adivinhacao/FileContentIndex
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/Jogo da Adivinhacao/v17
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/VSWorkspaceState.json
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/slnx.sqlite
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/ProjectSettings.json
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/v17/Browse.VC.db
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/v17/.wsuo
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/read.lock
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/9d50ddb5-09bf-46d0-b1b1-2b2ae1343d5d.vsidx
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/8cd04f40-bb95-426e-96c1-3a99aad2a9f4.vsidx
/Conhecendo a linguagem e a STL/Jogo da Forca/.vs/Jogo da Forca/FileContentIndex/4f028b2a-35ea-4fcd-8554-698006dd765c.vsidx
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/VSWorkspaceState.json
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/slnx.sqlite
/Conhecendo a linguagem e a STL/Jogo da Adivinhacao/.vs/ProjectSettings.json
/.gitignore
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/VSWorkspaceState.json
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/slnx.sqlite
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/ProjectSettings.json
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/v17/Browse.VC.db
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/v17/.wsuo
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/read.lock
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/9d50ddb5-09bf-46d0-b1b1-2b2ae1343d5d.vsidx
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/8cd04f40-bb95-426e-96c1-3a99aad2a9f4.vsidx
/Avançando com C++ entenda melhor a linguagem/Jogo da ForcaV2/.vs/Jogo da Forca/FileContentIndex/4f028b2a-35ea-4fcd-8554-698006dd765c.vsidx
Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/f97c29fc-33e1-41e9-835d-f27c755cb38b.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/verifica_chute.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/vc143.pdb
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/vc143.idb
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/salva_arquivo.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/resultado.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/palavra_escolhida.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/nao_acertou.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/le_arquivo.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/letra_existe.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/link.write.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/link.read.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/link.command.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/jogoforca.lastbuildstate
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/CL.write.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/CL.read.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.tlog/CL.command.1.tlog
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.log
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.ilk
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/jogoforca.exe.recipe
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/Jogodaforca.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/cont_erros.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/campo_secreto.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/jogoforca/x64/Debug/adiciona_palavra.obj
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/ipch/AutoPCH/aaa0777b3c270adc/JOGODAFORCA.ipch
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.opendb
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.db-wal
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.db-shm
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/Browse.VC.db
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/v17/.suo
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/read.lock
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/eb034eb5-567a-424b-a154-da2e767d4f84.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/90ec1368-809b-4e0a-9fe5-457693e62413.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/1c380e27-cb03-4a53-89d8-6b8d77675e6a.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/0220db0a-28f9-4088-95a7-ea8e08a0ff9e.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/1c9bc3a3-4099-4486-ba83-baf1fe938c66.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/eaee6456-4342-406f-92b6-d2ff0a42129d.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/d628397d-32de-43c9-bf86-493d5aadb0a4.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/f97c29fc-33e1-41e9-835d-f27c755cb38b.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/d628397d-32de-43c9-bf86-493d5aadb0a4.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/f97c29fc-33e1-41e9-835d-f27c755cb38b.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/eaee6456-4342-406f-92b6-d2ff0a42129d.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/d628397d-32de-43c9-bf86-493d5aadb0a4.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/d628397d-32de-43c9-bf86-493d5aadb0a4.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/eaee6456-4342-406f-92b6-d2ff0a42129d.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/f97c29fc-33e1-41e9-835d-f27c755cb38b.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/218a6d5f-d582-4317-a61b-9621bd790aaf.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/2f168393-a6ca-44dd-937e-524ba21900bc.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/42b2c4dd-eb33-4691-ac7f-9bf4d3868e15.vsidx
/Avançando com C++ entenda melhor a linguagem/jogoforca/.vs/jogoforca/FileContentIndex/5239796a-ff2b-4fba-b7a1-037fe3bf47bb.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/3747c9a9-cad8-48b8-8de9-0435d7e296a1.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/vc143.pdb
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/vc143.idb
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.vcxproj.FileListAbsolute.txt
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/link.write.1.tlog
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/link.read.1.tlog
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/link.command.1.tlog
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/CL.write.1.tlog
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/CL.read.1.tlog
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/CL.command.1.tlog
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.tlog/Banco.lastbuildstate
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.pdb
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.obj
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.log
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.ilk
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.exe.recipe
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Banco.exe
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/Banco.vcxproj.user
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/Banco.vcxproj.filters
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/Banco.vcxproj
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/9b2dd9760cf82d43/BANCO.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/Browse.VC.db
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/.suo
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/read.lock
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/b366daf9-eb14-4dab-80a2-8633e3c4038e.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/Browse.VC.opendb
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/Browse.VC.db-wal
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/Browse.VC.db-shm
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/58291a5f-760c-4cde-b2af-2b647d661012.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/04ad69fe-904d-42c2-b5e6-e08664867089.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/35a7995f-de05-4bf9-a845-e7f9ae4d4786.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/x64/Debug/Conta.obj
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/8516b910de47a62/CONTA.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/44f3c891303c710f/CONTA.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/d88ed48b-3355-45ea-8b9b-10eaaf6507e3.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/38d15808-4ef9-40ab-8ebd-49b21adc3794.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/16438d63-9d05-49c8-8872-02a0e60c078e.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/04bba553-1d4b-40d5-8b33-b53b36d0f9ca.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/e26409f5-ef28-4b4f-b1d0-58e608dfb5ee.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/8b936a16-6c20-4db3-8dc8-19a18fe6b87c.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/7636865a-65af-4054-a065-4c425eb6020a.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/d55014c8-1841-4b2b-bdd4-fca4ee2091a7.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/a309b268-6f49-4632-9846-5169ade1d4db.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/3d48e312-8e72-472a-ba8d-1df5a9c38868.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/d4e8cb01e1b248d1/VCTMP13440_460600.BANCO.241CAC84.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/ce6eb55958284b4a/VCTMP13440_151735.BANCO.487E562F.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/5d2e8e7889033d89/VCTMP13440_645022.CABECALHO.E2C7632D.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/v17/ipch/AutoPCH/4844a5a931487251/VCTMP13440_961582.BANCO.487E562F.ipch
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/f1ab9b61-427f-4325-85cf-f4c07227d497.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/ca4a4bb7-8f38-450a-807a-94a924f0c472.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/496c4fee-1961-4d8c-bf7d-ba3904ededaa.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/d87ef4fc-81ca-4a15-b0af-39b28cf390c2.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/6be2395d-785e-4b37-a33b-ed299f289555.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/245b5faa-9668-4334-8110-8072dc8b9cb4.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/af01da2c-aa2a-46af-8baf-64e60e02a55e.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/64fd8e31-4291-4b40-893b-0505374c1e0d.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/ded1741e-1966-462e-90d2-6950ac3ab63d.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/a7035596-00a2-47ab-b0c5-7eb8e52f109c.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/8878f15c-6bf9-4733-9f12-66e1d42ba7bb.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/c015fecf-47e2-4313-a9c8-ce5151fceec5.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/a789a372-25d5-4080-8c5b-415e376faba4.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/7329d636-cca4-41ca-be68-68d37a5e8f72.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/e8c2ea2d-9fc0-4c7e-a59b-c0a0591ea3a7.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/afc3c501-69a0-4020-a417-d319056fce1a.vsidx
/Orientação a Objetos com C++ Classes, métodos e atributos/Banco/.vs/Banco/FileContentIndex/9336cfec-9c81-40d1-9e96-49fdc519e3cb.vsidx
